{% extends 'base.html' %} {% block content %}

<h1>Let's review your grammar errors</h1>

<ul>
  {% for error_type in all_grammar_errors %}
  {% if error_type.count == 1 %}
  <li>{{ error_type.error_name }} - {{ error_type.count }} count </li>
  {% else %}
  <li>{{ error_type.error_name }} - {{ error_type.count }} counts </li>
  {% endif %}

    {% for error in error_type.errors %}
      <ul>
        <li>error id: {{ error.id }}</li>
        <li>error user_id: {{ error.user_id }} </li>
        <li>{{ error.sentence[:error.start] }}<b>{{ error.sentence[error.start:error.end] }}</b>{{ error.sentence[error.end:] }} <span class="divider">→</span> 
        {% if error.replacement %} 
        <b>{{ error.replacement }}</b> 
        {% else %} 
        <span class="remove-text">remove bolded text</span> 
        {% endif %}
        </li>
      </ul>
    <br />
    {% endfor %}
  {% endfor %}
</ul>

{% endblock %}