{% extends 'base.html' %}
{% block content %}

<h1>Welcome to GrammarChecker!</h1>

<div class="text-container">
  <p>To get started, click  begin submitting any short-form writings you’d like to be edited/reviewed. These can include emails, text messages, memos, invitations, short business documents, and more. Once submitted, if any grammar or spelling errors are found, an edited version of your text will be returned and you will be able to review each error. As you submit more writings, all of your errors will be collected and available for your review. When logged in, you can simply click on the Grammar or Spelling tab for a graphical overview of your common errors and examples of where each error was found in your past writings.</p>

  <p>This site was designed to help you improve your writing abilities over time so be sure to periodically submit some writing and review your error collections!</p>

  <p><a class="in-text-link" href='/signup'>Sign up</a> or <a class="in-text-link" href='/login'>login</a> to get started!</p>

  <p class="important-note"> <b>NOTE:</b> To explore this site for demonstration purposes, add the suffix “_tester” to your username when signing up (ie, Nick425_tester), and your account will be prepopulated with text submissions and errors.
  </p>
</div>

{% endblock %}