{% extends 'base.html' %}
{% block content %}

<h1>Welcome to GrammarChecker!</h1>

<div class="text-container">
  <p>Hello {{username}}, and thanks for joining GrammarChecker. You have signed up for a demonstration account, which allows you to explore the site with prepopulated errors.</p>

  <h3>How to explore the site:</h3>
   <p>Using the navigation bar above, click the <a class="in-text-link" href="/show_all_grammar_errors">Grammar</a> or <a class="in-text-link" href="/show_all_spelling_errors">Spelling</a> tab to see a breakdown of errors, or click <a class="in-text-link" href="/submit_text">Submit new text</a> to add your own text and have it reviewed.
  </p>

</div>

{% endblock %}