{% extends 'base.html' %} {% block content %}

<div>
  <h1 class="warning-h1">Over Text Limit</h1>

  <p class="over-limit-container">Unfortunately, you have now exceeded the current limit for text submissions. This site is currently limiting all users to 25 text submissions. Please check back at a later date to see if the limit has been extended. In the meantime, feel free to review your collected <a class="over-limit-link" href='/all_grammar_errors.html'>grammar</a> and <a class="over-limit-link" href='/all_grammar_errors.html'>spelling</a> errors and try to keep those insights in mind for future writing. Thank you for using this site and best of luck in your writing journey! </p>

{% endblock %}

