{% extends 'base.html' %}
{% block content %}

  <div>
    <div>
      <form method="POST">
        {{ form.csrf_token }}
        <div>
          {% if form.text.errors %}
            {% for error in form.text.errors %}
            {# TODO change class ? #}
              <span class="text-danger">
            {{ error }}
          </span>
            {% endfor %}
          {% endif %}
          {{ form.text(placeholder="Add some text!", rows="3") }}
        </div>
        <button>Add my message!</button>
      </form>
    </div>
  </div>

{% endblock %}